

body {
    margin: 0;
    padding: 0.5em 3em;
    background-color: #eee;
    font-family: monospace;
    font-size: 15px;
    overflow-y: scroll;  /* always show scrollbar to keep UI from jumping around slightly from page to page */
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1.2;
    clear: both;
    padding: 0.1em 0.75em;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
h1 { font-size: 2em; margin: 0 0 0.444em; }
h1.login { border: none; padding: 0; }
h2 { font-size: 1.5em; margin: 0 0 0.666em; }
h3 { font-size: 1.125em; margin: 0 0 0.888em; }
h4 { font-size: 1em; margin: 0 0 1.0em; }
h5 { font-size: .875em; margin: 0 0 1.1428em; }
h6 { font-size: .75em; margin: 0 0 1.333em; }
a { color: #2b73b7; text-decoration: none; }
a.wikilink { color: #080; }
a.wikilink_missing { color: red; text-decoration: underline red dashed; }
table { border-collapse: collapse; }

div.notice { color: #090; font-weight: bold; }
div.error { color: #900; font-weight: bold; }

form.login fieldset { width: auto; float: left; }
#tools { text-align: right; }
#tools div.toolbar { margin: 0.3em 0; }
#tools div.toolbar a.current { font-weight: bold; }
#tools form.search_form input { font-size: 110%; font-family: monospace; }
#tools form.search_form button { font-size: 110%; }
div.breadcrumbs { font-size: 110%; }

div.pagename { padding-left: 2em; font-size: 110%; }
div.pagename span.pagename {
    font-weight: bold;
    color: #444;
    border: 1px solid #666;
    border-bottom: 2px solid #fff;
    background-color: #fff;
    margin-bottom: -2px;
    margin-right: 1em;
    padding: 0.25em 1em;
    padding-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
div.page_content { padding: 1em 2em; }
div.page_content div.commands {
    float: right;
    padding-bottom: 0.3em;
}
div.page_content ul { list-style: square outside; }
div.page_content hr {
    border: 1px solid #999;
    border-bottom: none;
    height: 0;
}
div.page_content table {
    border: 1px solid #999;
    box-shadow: 0 0 0.2em #bbb;
    margin-bottom: 1em;
}
/*div.page_content a.implicit_uri::before { content: "→ "; }*/

div.page_content table td { background-color: white; border: 1px solid #999; padding: 0.15em 0.5em; }
div.page_content table th { background-color: #ddd; text-align: left; padding: 0.15em 0.5em; }
div.page_footer { margin-top: 0.25em; }
div.page_footer div.last_modified { float: right; text-align: right; }
div.page_footer div.commands { font-size: 110%; padding-left: 1em; }

div.page_content div.encrypted_chunk {
    clear: both;
    box-shadow: 0 0 0.5em 0 #cca inset;
    background-color: #ffe;
    padding: 0.75em 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}
div.page_content div.ciphertext { display: none; }
div.page_content div.decrypted div.ciphertext { display: block; }
div.page_content div.encryption_commands { font-weight: bold; }
div.page_content div.decrypted div.encryption_commands { display: none; }

div.page_content blockquote {
    clear: both;
    margin: 0;
    padding: 0.01em 1em;
    border-left: 4px solid #fcc;
    background-color: #fee;
}

div.page_wrapper { margin-top: 1em; }
div.page_wrapper div.preview h2 {
    border: none;
    border-bottom: 4px dotted #ccc;
    margin-top: 1em;
}

div.pagination { padding: 0.5em 2em; }

form.edit_page textarea,
form.post_chat textarea,
form.post_journal_entry textarea,
form.post_journal_entry input,
form.journal_comment_area textarea {
    border: 1px solid #aaa;
    background-color: #f8f8f8;
    padding: 0.2em 0.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-size: 110%;
    box-shadow: 0 0 0.3em #aaa inset;
}
form.edit_page textarea, form.post_chat textarea {
    width: 98%;
    height: 500px;
}

form.edit_page div.journal_page_info { margin-bottom: 0.5em; }
form.post_chat textarea { height: 150px; }

div.chat_new_post_area { margin-bottom: 1em; }
div.chat_new_post_area button { font-size: 110%; }
div.chat_date_separator {
    font-weight: bold;
    font-size: 120%;
    padding-left: 2em;
    padding-top: 1em;
}
div.chat_post {
    padding: 0;
    box-shadow: 0 0 0.5em #ddd;
    border: 1px solid #aaa;
    margin: 1em 0;
    margin-top: 0.1em;
}
div.chat_post div.chat_byline {
    padding: 0.25em 1em;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
div.chat_post div.chat_actions { float: right; }
div.chat_post div.chat_content { padding: 0 1em; }


#check_in_button {
    font-size: 125%;
    font-family: monospace;
    padding: 0.25em 0.7em;
    margin-left: 1em;
}

/* General "main page content" box with border and box-shadow.
   Used for several different page types. */
div.content_box {
    clear: both;
    border: 1px solid #666;
    background-color: #fff;
    box-shadow: 0 0 1em 2px #ccc;
}

table.events { margin: 1em; }
table.events td { padding: 0.1em 1em; }
table.events td.timestamp { white-space: nowrap; }
table.events tr:hover { background-color: #f3f3f3; }
table.events td.byteschanged { text-align: right; white-space: nowrap; }
table.events td.byteschanged_zero { background-color: #ccc; }
table.events td.byteschanged_negative { background-color: #fcc; }
table.events tr:hover td.byteschanged_negative { background-color: #ebb; }
table.events td.byteschanged_positive { background-color: #cfc; }
table.events tr:hover td.byteschanged_positive { background-color: #beb; }
table.events td.description { overflow-wrap: anywhere; }
/*table.events td.commands { border-left: 1px solid #ccc; }*/


div.file_manager {
    background-color: #f8f8ff;
    padding: 1em 2em;
    margin-top: 4em;
    overflow: auto;
}
div.file_manager div.directories { width: 25%; float: left; }
div.file_manager div.directories ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 2em;
    margin-bottom: 1em;
}
div.file_manager form.create_folder_form {
    display: none;
    margin-top: 1em;
}
div.file_manager div.current_path { font-size: 120%; }
div.file_manager div.commands { border-top: 1px solid #ccc; padding-top: 1em; }
div.file_manager div.empty_directory {
    padding-top: 1em;
    float: left;
    width: 73%;
}
div.file_manager table.file_table {
    float: left;
    width: 72%;
    margin-left: 0.5em;
    margin-top: 0.5em;
}
div.file_manager table.file_table th {
    font-size: 110%;
    text-align: left;
    padding: 0.1em 0.5em;
    border-bottom: 1px solid #ccc;
}
div.file_manager table.file_table td {
    padding: 0.1em 0.25em;
    white-space: nowrap;
    vertical-align: middle;
}
div.file_manager table.file_table .filesize, div.file_manager table.file_table .commands { text-align: right; }

div.file_upload { clear: both; }
div.file_upload h2 { border: none; margin-top: 1em; }

div.move_file table td { padding: 0.2em 0.5em; }
div.move_file table td.label { text-align: right; }
div.move_file h2 { border: none; margin-top: 1em; }
div.folder_list ul { list-style-type: none; }

h2.monthname {
    clear: both;
    border: none;
    font-weight: normal;
    text-align: center;
    padding-top: 1em;
}
table.calendar {
    border: none;
    width: 100%;
}
table.calendar th, table.calendar td { width: 14%; /* ~1/7 */ }
table.calendar th { font-size: 120%; color: #666; }
table.calendar td.day {
    height: 8em;
    vertical-align: top;
    padding: 0.15em 0.25em;
    cursor: pointer;
}
table.calendar td.insidemonth { border: 1px solid #aaa; background-color: white; }
table.calendar td.outsidemonth { border: none; }
table.calendar td.current_day { background-color: #ffd; }
table.calendar td.day div.datenumber {
    font-weight: bold;
    float: right;
    text-align: right;
    padding: 0.1em 0.3em;
    overflow: auto;
    background-color: white;
}
/* Tighten up paragraph spacing a little inside calendar cells */
table.calendar td.day p { margin: 0.35em 0; }
table.calendar td.day div.day_content { font-size: 90%; }

/* These two are to allow each calendar cell to scroll vertically if there's too much content */
table.calendar div.day_wrapper_1 {
    position: relative;
    height: 100%;
}
table.calendar div.day_wrapper_2 {
    overflow-y: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


div.journal_navigation {
    float: right;
    width: 16em;
    padding: 0.25em 0.5em;
    margin-left: 1em;
    margin-bottom: 0.5em;
    height: 100%;
    border: 2px solid #ddd;
    /* background-color: #eee; */
    box-shadow: 0 0 0.4em #ccc;
}
div.journal_navigation div.current_journal_user { margin-bottom: 0.25em; }
div.journal_navigation a.selected { font-weight: bold; }
div.journal_new_entry_area { margin-bottom: 1em; }
div.journal_new_entry_field_label {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}
form.post_journal_entry textarea,
form.post_journal_entry input {
  margin: 0;
  padding: 0.5em;
}

div.journal_new_entry_area textarea { width: 95%; height: 10em; }
div.journal_new_entry_area button { font-size: 110%; }
div.journal_new_entry_area input { font-size: 110%; font-family: monospace; width: 20em; }
div.post_journal_entry_controls { margin: 0.5em 0; }

div.journal_month_year_header {
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 1em;
}
div.journal_entry {
    width: auto;
    margin-bottom: 0.5em;
}
div.journal_entry_summary {
    margin-bottom: 0.2em;
}
.journal_entry_timestamp {
    cursor: pointer;
    color: #66f;
    font-weight: bold;
    border-bottom: 2px solid #ddf;
}
span.journal_entry_title {}
div.journal_entry_content { display: none; }
div.journal_entry span.collapser { cursor: pointer; }
div.journal_entry span.collapser::before { content: "\25B6"; }
div.journal_entry.expanded span.collapser::before { content: "\25BC"; }
div.journal_entry.expanded div.journal_entry_content { display: block; }
div.journal_entry_commands { margin-bottom: 1em; margin-left: 1.5em; }
ul.journal_entry_comments {
  margin-left: 1em;
  font-size: 90%;
  color: #444;
}
li.journal_entry_comment {
  margin-bottom: 1em;
}
li.journal_entry_comment div.byline {
}
div.comment_content_prompt {
  color: #444;
}
div.journal_entry_comment_content {
  color: #777;
  font-style: italic;
}
div.journal_entry_comment_content p {
  margin: 0.25em 0;
}
form.journal_comment_area {
  display: none;
  margin-bottom: 1em;
  margin-left: 1.5em; 
}
form.journal_comment_area textarea {
  width: 25em;
  height: 4em;
  margin: 0.2em 0;
}

div.sitemap { padding: 1em 2em; }
table.sitemap th {
    border-bottom: 1px solid #ccc;
    text-align: left;
    padding: 0 1em;
}
table.sitemap td { padding: 0 1em; }
table.sitemap .filesize { text-align: right; }


div.search_result { padding: 0.5em 1em; }
div.search_result_pagename { font-weight: bold; }
div.search_result_snippet { padding: 0.1em 1em; }


div.user_profile { padding: 1em; }
table.edit_profile { margin-bottom: 1em; }
table.edit_profile td { padding: 0.2em 0.5em; vertical-align: top; }
table.edit_profile td.key { text-align: right; font-weight: bold; }

table.user_admin { margin: 0 2em; margin-bottom: 1em; }
table.user_admin td, table.user_admin th { padding: 0.2em 1em; }
table.user_admin th { border-bottom: 1px solid #ccc; }
div.admin table.user_profile { margin: 1em; }


/** codehilite styles follow **/

pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.codehilite .hll { background-color: #ffffcc }
.codehilite { background: #f8f8f8; }
.codehilite .c { color: #408080; font-style: italic } /* Comment */
.codehilite .err { border: 1px solid #FF0000 } /* Error */
.codehilite .k { color: #008000; font-weight: bold } /* Keyword */
.codehilite .o { color: #666666 } /* Operator */
.codehilite .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.codehilite .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.codehilite .cp { color: #BC7A00 } /* Comment.Preproc */
.codehilite .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.codehilite .c1 { color: #408080; font-style: italic } /* Comment.Single */
.codehilite .cs { color: #408080; font-style: italic } /* Comment.Special */
.codehilite .gd { color: #A00000 } /* Generic.Deleted */
.codehilite .ge { font-style: italic } /* Generic.Emph */
.codehilite .gr { color: #FF0000 } /* Generic.Error */
.codehilite .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.codehilite .gi { color: #00A000 } /* Generic.Inserted */
.codehilite .go { color: #888888 } /* Generic.Output */
.codehilite .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.codehilite .gs { font-weight: bold } /* Generic.Strong */
.codehilite .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.codehilite .gt { color: #0044DD } /* Generic.Traceback */
.codehilite .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.codehilite .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.codehilite .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.codehilite .kp { color: #008000 } /* Keyword.Pseudo */
.codehilite .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.codehilite .kt { color: #B00040 } /* Keyword.Type */
.codehilite .m { color: #666666 } /* Literal.Number */
.codehilite .s { color: #BA2121 } /* Literal.String */
.codehilite .na { color: #7D9029 } /* Name.Attribute */
.codehilite .nb { color: #008000 } /* Name.Builtin */
.codehilite .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.codehilite .no { color: #880000 } /* Name.Constant */
.codehilite .nd { color: #AA22FF } /* Name.Decorator */
.codehilite .ni { color: #999999; font-weight: bold } /* Name.Entity */
.codehilite .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.codehilite .nf { color: #0000FF } /* Name.Function */
.codehilite .nl { color: #A0A000 } /* Name.Label */
.codehilite .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.codehilite .nt { color: #008000; font-weight: bold } /* Name.Tag */
.codehilite .nv { color: #19177C } /* Name.Variable */
.codehilite .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.codehilite .w { color: #bbbbbb } /* Text.Whitespace */
.codehilite .mb { color: #666666 } /* Literal.Number.Bin */
.codehilite .mf { color: #666666 } /* Literal.Number.Float */
.codehilite .mh { color: #666666 } /* Literal.Number.Hex */
.codehilite .mi { color: #666666 } /* Literal.Number.Integer */
.codehilite .mo { color: #666666 } /* Literal.Number.Oct */
.codehilite .sa { color: #BA2121 } /* Literal.String.Affix */
.codehilite .sb { color: #BA2121 } /* Literal.String.Backtick */
.codehilite .sc { color: #BA2121 } /* Literal.String.Char */
.codehilite .dl { color: #BA2121 } /* Literal.String.Delimiter */
.codehilite .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.codehilite .s2 { color: #BA2121 } /* Literal.String.Double */
.codehilite .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.codehilite .sh { color: #BA2121 } /* Literal.String.Heredoc */
.codehilite .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.codehilite .sx { color: #008000 } /* Literal.String.Other */
.codehilite .sr { color: #BB6688 } /* Literal.String.Regex */
.codehilite .s1 { color: #BA2121 } /* Literal.String.Single */
.codehilite .ss { color: #19177C } /* Literal.String.Symbol */
.codehilite .bp { color: #008000 } /* Name.Builtin.Pseudo */
.codehilite .fm { color: #0000FF } /* Name.Function.Magic */
.codehilite .vc { color: #19177C } /* Name.Variable.Class */
.codehilite .vg { color: #19177C } /* Name.Variable.Global */
.codehilite .vi { color: #19177C } /* Name.Variable.Instance */
.codehilite .vm { color: #19177C } /* Name.Variable.Magic */
.codehilite .il { color: #666666 } /* Literal.Number.Integer.Long */
