{% for page in chat_pages %}
{% if loop.index0 > 0 and chat_pages[loop.index0-1].last_modified_date() != page.last_modified_date() %}
<div class="chat_date_separator">{{page.formatted_last_modified_date()}}</div>
{% endif %}
<div class="chat_post" style="background-color: {{page.user.chat_tint_color()}};">
  {% if page.user %}
  {% set chat_color = page.user.profile['chat_color'] %}
  {% else %}
  {% set chat_color = '#ddd' %}
  {% endif %}
  <div class="chat_byline" style="background-color: {{chat_color}};">
    {% if page.last_modified_by_user_id == current_user.user_id %}
    <div class="chat_actions">
      <a href="{{url_for('edit_page', pagename=page.name)}}">Edit</a> -
      <a href="{{url_for('delete_chat_item', pagename=page.name)}}" onclick="return confirm('Really delete this chat message?')">Delete</a>
    </div>
    {% endif %}
    <strong>{{page.username}}</strong> at
    {{helper.formatted_time_from_chat_pagename(page.name)}}:
  </div>
  <div class="chat_content">
    {{page.content_as_markdown()|safe}}
  </div>
</div>
{% endfor %}
