<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{pagename + ' ' if pagename else ''}}[{{g.site_helper.sitename()}}]</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📝</text></svg>">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='wiki.css')}}">
    {% if g.site_helper.extra_css_url() %}
    <link rel="stylesheet" type="text/css" href="{{g.site_helper.extra_css_url()}}">
    {% endif %}
    
    <script type="text/javascript" charset="utf-8" src="{{url_for('static', filename='encryption.js')}}"></script>
    {% if not (current_user.is_anonymous or current_user.profile['notifications'] == 'off') %}
    <script type="text/javascript" charset="utf-8" src="{{url_for('static', filename='notifications.js')}}"></script>
    {% endif %}
    {% if is_main_chat_view %}
    <script type="text/javascript" charset="utf-8" src="{{url_for('static', filename='chat.js')}}"></script>
    {% endif %}
    {% if is_main_check_in_view %}
    <script type="text/javascript" charset="utf-8" src="{{url_for('static', filename='check_in.js')}}"></script>
    {% endif %}
    {% if is_journal_view %}
    <script type="text/javascript" charset="utf-8" src="{{url_for('static', filename='journal.js')}}"></script>
    {% endif %}
  </head>

  <body>
    {% block header %}
    <div id="header">
      {% if g.site_helper.logo_html() %}
      <div id="sitelogo">{{g.site_helper.logo_html()|safe}}</div>
      {% endif %}
      <div id="tools">
	<div class="toolbar">
	  {% if current_user.is_anonymous %}
	  <strong>Not currently logged in</strong> -
	  <a href="{{url_for('login')}}">Log in</a>
	  {% else %}
	  Logged in as:
	  <strong>{{current_user.username}}</strong> -
	  <a href="{{url_for('view_profile')}}"{{(' class="current"' if toolbar_selection == 'profile' else '')|safe}}>Profile</a> -
	  <a href="{{url_for('logout')}}">Log&nbsp;Out</a>
	  {% endif %}
	</div>
	<div class="toolbar">
	  <form action="{{url_for('fulltext_search')}}" method="get" accept-charset="utf-8" class="search_form">
	    <input type="text" placeholder="Search" name="query" />
	    <button type="submit" title="Search">Search</button>
	  </form>
	</div>
	<div class="toolbar">
          {{g.site_helper.generate_toolbar(toolbar_selection)|safe}}
	</div>
      </div>

      {% if breadcrumbs is defined %}
      <div class="breadcrumbs">
	Location:
	{% for breadcrumb in breadcrumbs %}
	{% if breadcrumb[2] %}
	<strong><a href="{{url_for('view_page', pagename=breadcrumb[0])}}">{{breadcrumb[1]}}</a></strong>
	{% else %}
	<a href="{{url_for('view_page', pagename=breadcrumb[0])}}">{{breadcrumb[1]}}</a>
	&raquo;
	{% endif %}
	{% endfor %}
      </div>
      {% endif %}
    </div>
    {% endblock %}
    
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>
