{% extends "layout.html" %}

{% block content %}

<div class="page_wrapper">
  <div class="pagename">
    <span class="pagename">{{pagename}}</span>
  </div>
  <div class="page_content content_box" style="overflow: auto;">
    <div class="journal_date_selector">
      <ul>
        {% for summary_item in entry_summary %}
        <li><a href="#">{{summary_item['month_name']}}&nbsp;{{summary_item['year']}}&nbsp;({{summary_item['pagenames']|length}})</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="journal_new_entry_area">
      <button value="post" onclick="document.getElementById('new_entry_form').style.display='block'; document.getElementById('new_entry_button').style.display='none';" id="new_entry_button">Create a new entry</button>
      <form id="new_entry_form" style="display: none;" method="post" accept-charset="utf-8" class="post_journal_entry">
        <div class="post_journal_entry_header">
          <label for="entry_timestamp">Date/Time</label>
          <input type="text" name="entry_timestamp" value="{{current_timestamp_string}}"></input>
        </div>
	<textarea name="entry_content" rows="8" cols="80"></textarea>
        <div class="post_journal_entry_controls">
	  <button type="submit" name="action" value="save" accesskey="s">Post</button>
	  <button type="submit" name="action" value="cancel" accesskey="c" onclick="document.getElementById('new_entry_form').style.display='none'; document.getElementById('new_entry_button').style.display='block'; return false;">Cancel</button>
        </div>
      </form>
    </div>

    <div class="journal_entries_container">
    {% for page in journal_pages %}
    <div class="journal_entry" id="journal_entry_{{loop.index0}}">
      <div class="journal_entry_header">
        <div class="journal_timestamp">
          <a href="#" onclick="document.getElementById('edit_entry_form_{{loop.index0}}').style.display='block'; document.getElementById('journal_entry_{{loop.index0}}').style.display='none';">{{helper.formatted_time_from_journal_pagename(page.name)}}</a>
        </div>
      </div>
      <div class="journal_content">
	{{page.content_as_markdown()|safe}}
      </div>
    </div>
    <form id="edit_entry_form_{{loop.index0}}" style="display: none;" method="post" accept-charset="utf-8" class="post_journal_entry">
      <div class="post_journal_entry_header">
        <label for="entry_timestamp">Date/Time</label>
        <input type="text" name="entry_timestamp" value="{{helper.formatted_time_from_journal_pagename(page.name)}}"></input>
      </div>
      <textarea name="entry_content" rows="8" cols="80">{{page.content}}</textarea>
      <div class="post_journal_entry_controls">
        <button type="submit" name="action" value="save">Save Changes</button>
	<button name="action" value="cancel" onclick="document.getElementById('edit_entry_form_{{loop.index0}}').style.display='none'; document.getElementById('journal_entry_{{loop.index0}}').style.display='block'; return false;">Cancel</button>
      </div>
    </form>
    {% endfor %}
    </div>
  </div>
  <div class="page_footer">
  </div>
</div>

{% endblock %}
