{% extends "layout.html" %}

{% block content %}

<div class="page_wrapper">
  <div class="pagename">
    <span class="pagename">{{pagename}}</span>
  </div>
  <div class="page_content content_box" style="overflow: auto;">
    <div id="journal_navigation"
         class="journal_navigation"
         style="background-color: {{journal_user.chat_tint_color()}};">
      <div class="journal_user_selector">
        <div class="current_journal_user">
          Viewing <strong>{{journal_user.username}}</strong>'s journal
        </div>
        <div class="journal_user_selection">
          {% for user in all_users %}
          <a class="journal_user_button{{' selected' if user.username == journal_user.username else ''}}"
             href="{{url_for('view_user_journal', username=user.username)}}">{{user.username}}</a>
          {% endfor %}
        </div>
      </div>
      <ul class="journal_month_list">
        {% for summary_item in entry_summary %}
        {% set is_selected = summary_item['year'] == selected_year and summary_item['month_index'] == selected_month %}
        <li><a href="{{url_for('view_journal', username=journal_user.username, year=summary_item['year'], month=summary_item['month_index'])}}"
               {{('class="selected"' if is_selected else None)|safe}}>{{summary_item['month_name']}}&nbsp;{{summary_item['year']}}&nbsp;({{summary_item['pagenames']|length}})</a></li>
        {% endfor %}
      </ul>
    </div>

    {% if is_own_journal %}
    <div class="journal_new_entry_area">
      <button id="new_entry_button" value="post" onclick="enable_journal_entry();return false;" >Post a new journal entry</button>
      <form class="post_journal_entry"
            id="new_entry_form"
            action="{{url_for('post_journal_entry')}}"
            style="display: none;"
            method="post"
            accept-charset="utf-8"
            enctype="multipart/form-data">
        <div class="journal_new_entry_field_label">Journal entry title (optional):</div>
        <input type="text" class="textfield" name="entry_title" value=""></input>
        <div class="journal_new_entry_field_label">Entry text:</div>
	<textarea id="entry_content_textarea" name="entry_content" class="textfield"></textarea>
        <div class="journal_new_entry_field_label">Attachment(s):</div>
        <input type="file" name="file" multiple />
        <div class="post_journal_entry_controls">
          <button type="submit" name="action" value="save_with_system_time">Post journal entry</button>
	  <button type="submit" name="action" value="cancel" accesskey="c" onclick="disable_journal_entry();return false;">Cancel post</button>
          {% if False %}
          <button type="submit" name="action" value="preview" accesskey="p">Preview post</button>
          {% endif %}
        </div>
      </form>
    </div>
    {% endif %}

    <div class="journal_entries_container">
    {% set header_ns = namespace(year=None, month=None) %}
    {% for page in journal_pages %}
    {% set page_year_month = helper.year_and_month_index_from_journal_pagename(page.name) %}
    {% if page_year_month[0] != header_ns.year or page_year_month[1] != header_ns.month %}
    {% set header_ns.year = page_year_month[0] %}
    {% set header_ns.month = page_year_month[1] %}
    <div class="journal_month_year_header">{{calendar.month_name[header_ns.month]}} {{header_ns.year}}</div>
    {% endif %}
    <div id="journal_entry_{{loop.index}}"
         class="journal_entry{% if loop.first or expanded_entry_pagename == page.name %} expanded{% endif %}">
      <div class="journal_entry_summary">
        <span class="collapser"
              onclick="toggle_journal_entry('journal_entry_{{loop.index}}');return false;"></span>
        <span class="journal_entry_timestamp"
              onclick="toggle_journal_entry('journal_entry_{{loop.index}}');return false;">{{helper.formatted_time_from_journal_pagename(page.name, True)}}</span>
        {% if page.title %}
        &ndash;
        <span class="journal_entry_title">{{page.title}}</span>
        {% endif %}
        {% if page.comments %}
        &ndash;
        <span class="journal_entry_comments_count">
          {{page.comments | length}}
          comment{{'' if (page.comments | length) == 1 else 's'}}
        </span>
        {% endif %}
      </div>
      <div class="journal_entry_content">
        {{page.content_as_markdown()|safe}}
        {% if page.comments %}
        <ul class="journal_entry_comments">
          {% for comment in page.comments %}
          <li class="journal_entry_comment">
            <div class="byline">
              <strong>{{comment.author_username}}</strong>
              commented at {{comment.formatted_timestamp()}}:
            </div>
            <div class="journal_entry_comment_content">
              {{comment.content_as_markdown()|safe}}
            </div>
            {% if comment.is_editable_by_user(current_user) %}
            <div class="journal_entry_comment_commands">
              <a
                href="{{url_for('delete_journal_comment', pagename=page.name, comment_id=comment.comment_id)}}"
                onclick="return confirm('Really delete this comment?');">
                Delete Comment
              </a>
            </div>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        </ul>
        {% endif %}
        
        <div class="journal_entry_commands"
             id="journal_entry_commands_{{loop.index}}">
          {% if is_own_journal %}
          <a href="{{url_for('edit_page', pagename=page.name)}}">Edit Entry</a> &ndash;
          <a
            href="{{url_for('delete_journal_entry', pagename=page.name)}}"
            onclick="return confirm('Really delete this journal entry?');">
            Delete Entry
          </a> &ndash;
          {% endif %}
          <a href="#" onclick="expand_or_collapse_journal_comment_area('journal_entry_{{loop.index}}_comment_area', 'journal_entry_commands_{{loop.index}}', 'comment_textarea_{{loop.index}}', true);return false;">Add comment</a>
        </div>
        <form class="journal_comment_area"
              id="journal_entry_{{loop.index}}_comment_area"
              method="post" accept-charset="utf-8"
              action="{{url_for('add_journal_comment', pagename=page.name)}}">
          <div class="comment_content_prompt">Enter your comment:</div>
          <textarea name="comment_content"
                    class="textfield"
                    id="comment_textarea_{{loop.index}}"></textarea>
          <div>
            <button type="submit" name="action" value="add_comment">Add Comment</button>
            <button type="submit" name="action" value="cancel"
                    onclick="expand_or_collapse_journal_comment_area('journal_entry_{{loop.index}}_comment_area', 'journal_entry_commands_{{loop.index}}', 'comment_textarea_{{loop.index}}', false);return false;">Cancel</button>
          </div>
        </form>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
  <div class="page_footer">
  </div>
</div>

{% endblock %}
