{% extends "layout.html" %}

{% block content %}

<div class="user_profile content_box">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  {% if category == 'profile_notice' %}
  <div class="notice">{{message}}</div>
  {% endif %}
  {% endfor %}
  {% endif %}
  <h2>User Profile</h2>
  <form method="post" accept-charset="utf-8" action="{{url_for('update_profile')}}">
    <table class="edit_profile">
      <tbody>
	<tr>
	  <td class="key">Your username:</td>
	  <td class="value">
	    <strong>{{current_user.username}}</strong>
	  </td>
	</tr>
	<tr>
	  <td class="key">Chat color:</td>
	  <td class="value">
	    <select name="chat_color">
	      {% for colorname in chatroom_helper.COLORNAMES %}
	      {% set colorvalue = chatroom_helper.COLORS[loop.index0] %}
	      <option value="{{colorvalue}}"{{' selected' if current_user.profile['chat_color'] == colorvalue else ''}}>{{colorname|capitalize}}</option>
	      {% endfor %}
	  </td>
	</tr>
	<tr>
	  <td class="key">Desktop Notifications:</td>
	  <td class="value">
	    <select name="notification_preference">
	      {% for (value, description) in current_user.NOTIFICATION_OPTIONS %}
	      <option value="{{value}}"{{' selected' if current_user.profile['notifications'] == value else ''}}>{{description}}</option>
	      {% endfor %}
	    </select>
	    <p>
	      <a href="#" onclick="Notification.requestPermission();return false;">Authorize notifications</a> -
	      <a href="#" onclick="new Notification('This is a test');return false;">Test notifications</a>
	    </p>
	  </td>
	</tr>
	<tr>
	  <td class="key">Email Notifications:</td>
	  <td class="value">
	    <select name="email_notification_preference">
	      {% for (value, description) in current_user.NOTIFICATION_OPTIONS %}
	      <option value="{{value}}"{{' selected' if current_user.profile['notifications'] == value else ''}}>{{description}}</option>
	      {% endfor %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <td class="key">Recipients:</td>
	  <td class="value">
	    <textarea name="email_recipients" rows="3" cols="40"></textarea>
	    <br />
	    (one per line)
	  </td>
	</tr>
	<tr>
	  <td class="key">Email throttle:</td>
	  <td class="value">
	    <input type="checkbox" name="email_throttle" value="1" />
	    Send a maximum of one email every
	    <input type="text" name="email_throttle_minutes" size="2" value="5" />
	    minutes
	    <p>
	      <a href="#" onclick="document.getElementById('smtp_settings').style.display='table-row';return false;">Edit SMTP settings</a> -
	      <a href="#" onclick="return false;">Disarm throttling</a> -
	      <a href="#" onclick="return false;">Send test email</a>
	    </p>
	  </td>
	</tr>
	<tr id="smtp_settings" style="display: none;">
	  <td class="key"></td>
	  <td class="value">
	    <table class="edit_profile"><tbody>
		<tr>
		  <td class="key">SMTP hostname:</td>
		  <td class="value"><input name="mail_server" type="text" value="" size="30" /></td>
		</tr>
		<tr>
		  <td class="key">Port:</td>
		  <td class="value"><input name="mail_port" type="text" value="25" size="5" /></td>
		</tr>
		<tr>
		  <td class="key">Encryption:</td>
		  <td class="value">
		    <input type="checkbox" name="mail_use_tls" value="1">
		    <label for="mail_use_tls">Use TLS</label>
		    <input type="checkbox" name="mail_use_ssl" value="1">
		    <label for="mail_use_ssl">Use SSL</label>
		  </td>
		</tr>
		<tr>
		  <td class="key">Username:</td>
		  <td class="value"><input name="mail_username" type="text" value="" size="30" /></td>
		</tr>
		<tr>
		  <td class="key">Password:</td>
		  <td class="value"><input name="mail_password" type="password" value="" size="30" /></td>
		</tr>
		<tr>
		  <td class="key">Default sender:<br />(your own email)</td>
		  <td class="value"><input name="mail_default_sender" type="text" value="" size="30" /></td>
		</tr>
	    </tbody></table>
	  </td>
	</tr>
	<tr>
	  <td class="key"></td>
	  <td class="value">
	    <button type="submit" name="action" value="save">Save Changes</button>
	  </td>
	</tr>
      </tbody>
    </table>
  </form>

  <h2>Password Update</h2>

  {% if messages %}
  {% for category, message in messages %}
  {% if category == 'password_notice' %}
  <div class="notice">{{message}}</div>
  {% elif category == 'password_error' %}
  <div class="error">{{message}}</div>
  {% endif %}
  {% endfor %}
  {% endif %}
  <form method="post" accept-charset="utf-8" action="{{url_for('update_password')}}">
    <table class="edit_profile">
      <tbody>
	<tr>
	  <td class="key">Current password:</td>
	  <td class="value">
	    <input type="password" size="20" name="current_password" value="" />
	  </td>
	</tr>
	<tr>
	  <td class="key">New password:</td>
	  <td class="value">
	    <input type="password" size="20" name="new_password" value="" />
	  </td>
	</tr>
	<tr>
	  <td class="key">Verify new password:</td>
	  <td class="value">
	    <input type="password" size="20" name="password_verify" value="" />
	  </td>
	</tr>
	<tr>
	  <td class="key"></td>
	  <td class="value">
	    <button type="submit" name="action" value="save">Update Password</button>
	  </td>
	</tr>
      </tbody>
    </table>
  </form>
  {% endwith %}
</div>

{% endblock %}
